/* ****** footer bottom ****************** */

.footer-bottom {
    text-align: center;
    /* background-color: #333; */
    color: #4f09c0;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
  }
  